<!doctype html>
<html>
<head>
    <title>Breaddit</title>


</head>
<body>
<div class="container">


        <h1>Welcome To Breaddit!</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default">Login</a>
        <a href="/signup" class="btn btn-default">Signup</a>
    </div>



</body>
</html>
